<!--トップ画面-->
<main>
  <div class = "container">
    <br>
    <div class = "row">
      <div class = "col-5">
        <% if section_signed_in? %>
          <%= render '/section/send_letters/today_send_letters.html.erb', send_letters: @send_letters %>
        <% elsif admin_signed_in? %>
          <%= render '/admin/send_letters/today_send_letters.html.erb', send_letters: @send_letters %>
        <% else %>
          ログインしてください。
        <% end %>
      </div>
      <% if section_signed_in? || admin_signed_in? %>
        <div class="col-5 offset-2 border border-dark">
          <%= render 'section/boards/boards.html.erb', board: @board, boards: @boards %>
        </div>
      <% end %>
    </div>
  </div>
</main>