<!--管理者　ログイン画面-->
<main>
  <div class="text-center form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <br><h3>管理者としてログインする</h3><br>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-2">
          <%= f.submit "ログイン", class: "btn btn-primary form-control"%>
        </div>
      </div>
    <% end %>
  </div>
</main>