<main>
  <div class = "container">
    <div class = "row">
      <div class = "col-2">
        集配郵便局
      </div>
    </div>
      <div class = "row">
        <table class = "table table-bordered">
          <thead>
            <tr>
              <th>集配郵便局名</th>
              <th>配達郵便区</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @post_office.name %></td>
              <td><%= @post_office.postal_code %></td>
            </tr>
          </tbody>
        </table>
        <div class = "col-2">
          <%= link_to "編集する", edit_admin_post_office_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</main>
