<main>
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-4">
        <div class = "row">
          <div class = "col-12">
            各部署登録郵便一覧
          </div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-12">
        <table class = "table table-bordered">
          <thead>
            <tr>
              <th>部署</th>
              <th>支払予算</th>
              <th>合計通数</th>
              <th>合計金額</th>
              <th>状態</th>
              <th>詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @send_letters.each do |send_letter| %>
              <tr>
                <td><%= send_letter.section.name %></td>
                <td><%= send_letter.payment_budget.budget.name %></td>
                <td></td>
                <td></td>
                <td>
                  <% if send_letter.status == false %>
                    未確定(確定は本日分の一覧から行ってください)
                  <% else %>
                    確定
                  <% end %>
                </td>
                <td><%= link_to "詳細を表示する", "/send_letters/#{send_letter.id}" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class = "row">
      <div class = "col-3">
        <%= link_to "全て確定する", admin_send_letters_update_all_path, method: :patch, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</main>